body {
  background-color: #880000;
}

#fuzzy-nav {
/*  border:2px solid yellow;*/
  width: 98%;
  position: fixed;
  top: 0;
  background-color: #444;
  padding: 2rem .5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  transition: .3s text-shadow linear;
  font-weight: 400;
  font-family: Avenir, Helvetica, sans-serif;
}
#fuzzy-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem; padding: 1.5em;
  border-bottom: none;
  position: relative;
}
#fuzzy-nav a:hover {
  color:  yellow;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

#fuzzy-nav a span {
  font-size: 1rem;
  font-weight: 400;
  color: #999;
  display: block;
  text-transform: uppercase;
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 15rem;
  line-height: 1.3;
 }

 #fuzzy-nav:hover a {
  text-shadow: 0 0 6px #fff;
  opacity: 0.4;
}

#fuzzy-nav a:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 1;
}



#intro1 {
/*  border:2px solid white;*/
  font-size: 16em;
  margin-top: -.005em;
  text-align: center;
}

#intro2 {
/*  border:2px solid white;*/
  font-size: 8em;
  margin-top: -1.75em;
  text-align: center;
}

.content {
/*  border: 3px dotted black;*/
  float: left;
  height: 35em;
  background-color: #880000;
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-left: 1em;
  margin-top: 9em;
}



.slider1 {
    float: left;
    height:35em;
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    background-color: #880000;
    color:#fff;
}

/*.slider2 {
    border: 1px solid yellow;
    float: left;
    width:38em;
    height:35em;
    position:absolute;
    top:0;
    right:0;
    background-color: #880000;
    color:#fff;
}*/

.slider3 {
  border: 1px solid yellow;
    float: left;
    width:38em;
    height:35em;
    position:absolute;
    top:0;
    left:-50em;
    background-color:#000;
    color:#fff;
}

.slider3 img {
  width: 49%;
  height: 49%;
}

.slider4 {
  border: 1px solid yellow;
    float: left;
    width:38em;
    height:35em;
    position:absolute;
    top:0;
    right:-50em;
    background-color:#000;
    color:#fff;
}

.slider5 {
  border: 1px solid yellow;
    float: left;
    width:38em;
    height:35em;
    position:absolute;
    top:0;
    left:-50em;
    background-color:#000;
    color:#fff;
}

.slider6 {
  border: 1px solid yellow;
    float: left;
    width:38em;
    height:35em;
    position:absolute;
    top:0;
    right:-50em;
    background-color:#000;
    color:#fff;
}

.slider6 img {
    width: 100%;
    height: 100%;
}

#publix {
  width: 45%;
  height: 45%;
  border: 2px solid yellow;
  border-radius: 50%;
}

.slider7 {
  border: 1px solid yellow;
    float: left;
    width:38em;
    height:35em;
    position:absolute;
    top:0;
    left:-50em;
    background-color:#000;
    color:#fff;
}

.slider8 {
  border: 1px solid yellow;
    float: left;
    width:38em;
    height:35em;
    position:absolute;
    top:0;
    right:-50em;
    background-color:#000;
    color:#fff;
}


.clearfix::after {
  content: " ";
  display: inline-block;
  clear: both;
}



h1 {
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 84px;
  width: 100%;
  color: white;
}

h2{
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 34px;
  width: 100%;
  color: white;
}

h3{
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 34px;
  width: 100%;
  color: white;
}




button{
  height: 35px;
  width: 40%;
  border: 3px solid black;
  border-radius: 15px 45px 13px 50px;
  padding: 5px;
  margin: 10px 200px 10px 200px;
  color: white;
  background-color: #880000;
}

